*{
    box-sizing: border-box;
    margin: auto 0;
  }

html{

    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    
  }


nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 50px;
    font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }

  .nav-bar-menu {
    display: inline-block;
    float: right;
    padding: auto;
    margin: 0 20px 0 0;
  }

  .nav-bar-top-left {
    display: inline-block;
    float: left;
    padding: auto;
    margin: 0 20px 0 0;      
  }
  
  .nav-bar-menu li {
    display: inline-block;
    margin: 0 10px;
  }

  h1 {
    display: none;
}

.logo {
    width: 70px;
    display: inline;
    float: left;
    margin: 5px 5px 0 5px;
  }
}

.header {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffffff;
    clear: both;
}

.header-search {
    display: inline;
    padding: 10px;
       
}

.header-search #magnifier {
    height: 15px;
    width: 15px;
}

.header-search #search-bar {
  height: 2em;
  width: 70%;
  margin: 10px 0px;
}

#search-bar {
    border-color: lightgrey;
    border: 0.5px;
}

.header-login {
  list-style-type: none;
  display: inline-block;
  float: right;
  padding: 0px 0px 100px 0px;
}

.header-ul li {
  display: inline-block;
  margin-right: 20px;
}


.header-login #bear {
  height: 30px;
  width: 30px;
  }

#bear {
  margin-top: 10px;
}

/* ----- build section (1) -----*/

.build-section {
background-image: url(C:\Users\Daniela\Desktop\IRONHACK\Prework\lab-html-module-exercise-master\lab-html-module-exercise-master\starter-code\images\city-scape.svg);
background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(32, 101, 136);
padding: 50px 0 150px 0;
clear: both;
}

.build-section h2, p {
padding-top: 10%;
padding-bottom: 10%;
width: 50%;
color: white;
margin: 0 10%;
display: block;

}

.build-section h2 {
  font-weight: 300;
  font-size: 2.5em;
  display: block;
  
}

.build-section text-p {
  font-weight: 300;
  font-size: 35px;
  display: block;
  float: left;
  
}

.sign-btn {
padding: 7px 2.5em;
border: 1px;
border-radius: 20px;
font-size: 16px;
width: 200px;
text-align: center;
text-decoration: none;
float: left;
margin: 8px 0 0 0;
display: inline-block;

}

.build-section #signup {
  margin: 0 0 0 10%;
  list-style-type: none;
  float: left;
  background-color:#f09233;
  color: white;
  
}

/* -----org section (2)----- */

.npm-org {
  background-color: rgb(39,53,71);
  color: white;
  padding: 0px 0px;
  background-size: contain;
  margin: 0 auto;
}

.npm-org img {
  width: 30%;
  margin: 5% -10%;
  display: relative;
}

.npm-org h2 {
  display: inline-block;
  font-size: 1.5em;
  margin: 5% 15% auto 0%;
  font-weight: bold;
  float: right;
}

.npm-org-list {
  font-size: 14px;
  margin: 5% 15% auto 0%;
  float: right;
  color: green;
 
}
.red{
  background-color: rgb(203,56,55);
}

.learn-more {
  font-size: 14px;
  float: right;
}

/*----- About us section (3) ----- */

.about-npm {
  background-image: url(C:\Users\Daniela\Desktop\IRONHACK\Prework\lab-html-module-exercise-master\lab-html-module-exercise-master\starter-code\images\forklift.svg) no-repeat center center fixed; 
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(32, 101, 136);
  margin: 10px 0 0 0; 
  clear: both;
  }
